.board {
  position: relative;
  .myCanvas {
    background-image: radial-gradient(#3e3222, #111111);
  }
  .lables {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
